// start fonts
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+Arabic:wght@100;500;800&display=swap");
// end fonts
// start global variables
$main-color: #1a5581;
$light: #fff;
// end global variables
.graphic-ar {
  font-family: "Noto Sans Arabic", sans-serif;
  // start intro
  .intro-ar {
    .heading-box {
      h1 {
        @media screen and (max-width: 768px) {
          font-size: 5.5rem;
        }
        @media (min-width: 1024px) and (max-width: 1290px) {
          font-size: 3rem;
        }
      }
      .dev {
        color: $light;
        -webkit-text-fill-color: transparent;
        -webkit-text-stroke-width: 2px;
        -webkit-text-stroke-color: $light;
        @media screen and (max-width: 768px) {
          font-size: 5.3rem;
          letter-spacing: 3px;
          -webkit-text-stroke-width: 1px;
        }
        @media (min-width: 1024px) and (max-width: 1290px) {
          -webkit-text-stroke-width: 1px;
        }
      }
    }
  }
  // end intro
  // start about
  .about-ar {
    @media screen and (max-width: 768px) {
      margin-top: 3rem;
    }
    h1 {
      @media screen and (max-width: 768px) {
        font-size: 2.2rem;
      }
    }
    p {
      font-size: 1.1rem;
      line-height: 2;
      @media screen and (max-width: 768px) {
        padding: 1rem;
      }
    }
  }
  // end about
  // start roadmap
  .roadmap-ar {
    overflow-x: hidden;
    h1 {
      @media screen and (max-width: 768px) {
        margin-top: 3rem;
        font-size: 3rem;
      }
    }
    .boxs {
      @media screen and (max-width: 768px) {
        flex-direction: column;
      }
      .box-1,
      .box-2,
      .box-3,
      .box-4,
      .box-5,
      .box-6 {
        width: 30%;
        height: 400px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 1rem;
        border: 2px solid $light;
        border-radius: 10px;
        padding: 1rem;
        transition: 0.5s;
        @media screen and (max-width: 768px) {
          width: 100%;
          height: 100%;
        }
        p {
          text-align: center;
        }
        h1 {
          @media screen and (max-width: 768px) {
            font-size: 2.5rem;
          }
        }
        img {
          width: 30%;
          @media screen and (max-width: 768px) {
            width: 50%;
          }
        }
      }
      .box-1 {
        &:hover {
          background-color: $light;
          border: 2px solid $light;
          color: $main-color;
        }
      }
      .box-2 {
        &:hover {
          background-color: $light;
          border: 2px solid $light;
          color: $main-color;
        }
      }
      .box-3 {
        &:hover {
          background-color: $light;
          border: 2px solid $light;
          color: $main-color;
        }
      }
      .box-4 {
        &:hover {
          background-color: $light;
          border: 2px solid $light;
          color: $main-color;
        }
      }
      .box-5 {
        &:hover {
          background-color: $light;
          border: 2px solid $light;
          color: $main-color;
        }
      }
      .box-6 {
        &:hover {
          background-color: $light;
          border: 2px solid $light;
          color: $main-color;
        }
      }
    }
  }
  // end roadmap
  // start team ar
  .team-ar {
    .cards {
      .card {
        width: 190px;
        transition: all 0.2s;
        position: relative;
        cursor: pointer;
      }
      .card-inner {
        width: inherit;
        height: inherit;
        padding: 1rem;
        background: rgba(255, 255, 255, 0.05);
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
        backdrop-filter: blur(10px);
        border-radius: 8px;
        img {
          width: 100%;
          height: 100%;
        }
      }
      .card:hover {
        transform: scale(1.04) rotate(1deg);
      }
      .circle {
        width: 100px;
        height: 100px;
        background: radial-gradient(#adf7f2, #15aaff);
        border-radius: 50%;
        position: absolute;
      }
      .circle:nth-child(1) {
        top: -25px;
        left: -25px;
      }
      .circle:nth-child(2) {
        bottom: -25px;
        right: -25px;
      }
    }
  }
  // end team ar
  // start lectures
  .lectures-ar {
    @media screen and (max-width: 768px) {
      margin-top: 3rem;
    }
    h1 {
      @media screen and (max-width: 768px) {
        margin-top: 3rem;
        font-size: 3rem;
      }
    }
    .lec-boxs {
      @media screen and (max-width: 768px) {
        flex-wrap: wrap-reverse;
      }
      .box-1,
      .box-2,
      .box-3,
      .box-4,
      .box-5,
      .box-6,
      .box-7 {
        .lec-1,
        .lec-2,
        .lec-3,
        .lec-4,
        .lec-5,
        .lec-6,
        .lec-7 {
          width: 290px;
          height: 290px;
          background-color: $light;
          color: $main-color;
          border-radius: 10px;
          cursor: pointer;
          position: relative;
          box-shadow: rgba(255, 255, 255, 0.4) 0px 5px,
            rgba(255, 255, 255, 0.3) 0px 10px, rgba(255, 255, 255, 0.2) 0px 15px,
            rgba(255, 255, 255, 0.1) 0px 20px,
            rgba(255, 255, 255, 0.05) 0px 25px;
          transition: 0.3s;
          &:hover {
            transform: translateY(-10px);
          }
          h1 {
            @media screen and (max-width: 768px) {
              font-size: 2.4rem;
            }
          }
          @media screen and (max-width: 768px) {
            width: 250px;
            height: 250px;
          }
          &::before {
            font-family: "Raleway", sans-serif;
            position: absolute;
            top: 0;
            left: 10%;
            color: $main-color;
            font-size: 4rem;
            font-weight: 800;
          }
        }
        .lec-1 {
          &::before {
            content: "01";
          }
        }
        .lec-2 {
          &::before {
            content: "02";
          }
        }
        .lec-3 {
          &::before {
            content: "03";
          }
        }
        .lec-4 {
          &::before {
            content: "04";
          }
        }
        .lec-5 {
          &::before {
            content: "05";
          }
        }
        .lec-6 {
          &::before {
            content: "06";
          }
        }
        .lec-7 {
          &::before {
            content: "07";
          }
        }
      }
    }
  }
  // end lectures
  // start designs
  .designs-ar {
    .first-cateogry,
    .second-cateogry {
      h1 {
        @media screen and (max-width: 768px) {
          font-size: 3.5rem;
        }
      }
    }
    .first-cateogry {
      .gallery {
        img {
          width: 30%;
          height: 400px;
          border-radius: 10px;
          position: relative;
          @media screen and (max-width: 768px) {
            width: 90%;
            height: 100%;
          }
        }
      }
    }
    .second-cateogry {
      .gallery {
        img {
          width: 30%;
          height: 500px;
          border-radius: 10px;
          @media screen and (max-width: 768px) {
            width: 90%;
            height: 100%;
          }
        }
      }
    }
  }
  // end designs
  // start top
  .top-ar {
    position: relative;
    .cards {
      .card {
        position: relative;
        width: 320px;
        height: 450px;
        background: #ffffff3f;
        border-radius: 20px;
        overflow: hidden;
      }
      .card:before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: $main-color;
        clip-path: circle(150px at 80% 20%);
        transition: 0.5s ease-in-out;
      }
      .card:hover:before {
        clip-path: circle(300px at 80% -20%);
      }
      .card:after {
        position: absolute;
        top: 40%;
        right: 0%;
        font-size: 3.6rem;
        font-weight: 800;
        font-style: italic;
        color: rgba(255, 255, 255, 0.7);
      }
      .card-1:after {
        content: "مركز أول";
      }
      .card-2:after {
        content: "مركز ثانى";
      }
      .card-3:after {
        content: "مركز ثالث";
      }
      .card-4:after {
        content: "مركز رابع";
      }
      .card-5:after {
        content: "مركز خامس";
      }
      .card .contentBx {
        position: absolute;
        bottom: 0;
        width: 100%;
        height: 100px;
        text-align: center;
        transition: 1s;
        z-index: 10;
      }
      .card:hover .contentBx {
        height: 150px;
      }
      .card .contentBx h1 {
        font-size: 1.5rem;
        position: relative;
        font-weight: 600;
        color: $light;
        margin: 0;
      }
    }
  }
  // end top
}
